* {
    margin: 0;
    padding: 0;
}

#welcome-heading{
    margin-top: 20px;
    margin-left: 700px;
    font-size: 40px;
    color: #0d66e7;
}

#select-dan{
    margin-top: 30px;
    margin-left: 830px;
    width: 250px;
    font-size: 28px;
    text-align: center;
}

.table { 
    margin-top: 50px;
    margin-left: 250px;
    width: 1500px;
}

#dodaj_film {
    margin-top: 10px;
    margin-left: 715px;
    margin-bottom: -5px;
    width: 480px;
    font-size: 20px;
}

#form-add-film {
    width: 800px;
    margin-top: 40px;
    margin-left: 530px;
    font-size: 20px;
}

#btnd{
    width: 500px;
    font-size: 20px;;
}

#s-in {
    width: 450px;
    margin-top: 15px;
    margin-left: 730px;
    font-size: 20px;
}